<launch>
    <rosparam command="load" file="$(find pendulum_control)/config/topics.yaml" />
    <rosparam command="load" file="$(find pendulum_control)/config/param_server.yaml" />
    <!-- <include file="$(find gelsight_ros)/launch/gelsight.launch" />
    <include file="$(find ethercat_ros_configurator)/launch/test_motor_start.launch" /> -->

    <node pkg="pendulum_control" type="pendulum_master.py" name="pendulum_control_node" output="screen">
    </node>
    <!-- <node pkg="pendulum_control" type="state_feedback.py" name="bottom_state_feedback_node" output="screen">
        <param name="matrices_path" value="data/matrices" />
        <param name="B_path" value="/Bcb.csv" />
        <param name="subsystem_topic" value="/bottom/state" />
        <param name="pub_topic" value="/bottom/v_sp" />
    </node>
    <node pkg="pendulum_control" type="state_feedback.py" name="top_state_feedback_node" output="screen">
        <param name="matrices_path" value="data/matrices" />
        <param name="B_path" value="/Bct.csv" />
        <param name="subsystem_topic" value="/top/state" />
        <param name="pub_topic" value="/top/v_sp" />
    </node> -->
    <group ns="bottom">
        <node pkg="pendulum_control" type="kalman_filter.py" name="kalman_filter_node_bottom" output="screen">
            <param name="calculate_gains" value="true" />
        </node>
    </group>
    <group ns="top">
        <node pkg="pendulum_control" type="kalman_filter.py" name="kalman_filter_node_top" output="screen">
            <param name="calculate_gains" value="true" />
        </node>
    </group>
</launch>