<launch>
    <rosparam command="load" file="$(find my_pkg)/config/topics.yaml" />
    <include file="$(find gelsight_ros)/launch/gelsight.launch" />
    <include file="$(find ethercat_ros_configurator)/launch/test_motor_start.launch" />

    <node pkg="pendulum_control" type="control.py" name="pendulum_control_node" output="screen">
        <param name="calculate_K" value="false" />
    </node>
    <node pkg="pendulum_control" type="state_feedback.py" name="bottom_state_feedback_node" output="screen">
        <param name="matrices_path" value="data/matrices" />
        <param name="B_path" value="/Bcb.csv" />
        <param name="subsystem_topic" value="/bottom/state" />
        <param name="pub_topic" value="/bottom/v_sp" />
    </node>
    <node pkg="pendulum_control" type="state_feedback.py" name="top_state_feedback_node" output="screen">
        <param name="matrices_path" value="data/matrices" />
        <param name="B_path" value="/Bct.csv" />
        <param name="subsystem_topic" value="/top/state" />
        <param name="pub_topic" value="/top/v_sp" />
    </node>
</launch>