<launch>
    <rosparam command="load" file="$(find pendulum_control)/config/param_server.yaml" />
    <group ns="bottom">
        <node pkg="pendulum_control" type="dynamics_simulator.py" name="dynamics_simulator_node_bottom" output="screen"/>
        <node pkg="pendulum_control" type="kalman_filter.py" name="kalman_filter_node_bottom" output="screen">
            <param name="calculate_gains" value="true" />
        </node>
        <node pkg="pendulum_control" type="publisher.py" name="publisher_node_bottom" output="screen"/>
    </group>
    <group ns="top">
        <node pkg="pendulum_control" type="dynamics_simulator.py" name="dynamics_simulator_node_top" output="screen"/>
        <node pkg="pendulum_control" type="kalman_filter.py" name="kalman_filter_node_top" output="screen">
            <param name="calculate_gains" value="true" />
        </node>
        <node pkg="pendulum_control" type="publisher.py" name="publisher_node_top" output="screen"/>
    </group>

    <!-- <node
        pkg="ethercat_ros_configurator"
        type="convert_units_read.py"
        name="convert_units_read"
        output="screen"
    />
    <node
        pkg="ethercat_ros_configurator"
        type="convert_units_write.py"
        name="convert_units_write"
        output="screen"
    /> -->
</launch>